<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <scheduling>
            <agent type="Sitecore.Tasks.CleanupAgent" set:type="Sitecore.Support.Tasks.CleanupAgent" />
        </scheduling>
    </sitecore>
</configuration>